---
name: "Auto Labeler"
on:
  workflow_call:
    inputs:
      config-name:
        required: true
        type: string
    secrets:
      github-token:
        required: true
permissions:
  contents: read
jobs:
  main:
    permissions:
      pull-requests: write
    name: Auto label pull requests
    runs-on: ubuntu-latest
    steps:
      - uses: release-drafter/release-drafter@6db134d15f3909ccc9eefd369f02bd1e9cffdf97
        env:
          GITHUB_TOKEN: ${{ secrets.github-token }}
        with:
          config-name: ${{ inputs.config-name }}
          disable-releaser: true
