---
name: "Auto Author Assign"
on:
  pull_request:
    types: [opened, reopened, synchronize]
permissions:
  contents: read
jobs:
  assign:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - uses: toshimaru/auto-author-assign@5cd66f093de6691e0812ef186b7492589b0b7866 # v2.1.2
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
