---
name: "Release Image"
on:
  workflow_call:
    inputs:
      image-name:
        required: true
        type: string
      full-tag:
        required: true
        type: string
      short-tag:
        required: true
        type: string
      create-attestation:
        required: false
        type: boolean
        default: false
    secrets:
      github-token:
        required: true
      image-registry:
        required: true
      image-registry-username:
        required: true
      image-registry-password:
        required: true
jobs:
  create_action_images:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write
      attestations: write
    env:
      IMAGE_REGISTRY: ${{ secrets.image-registry }}
      IMAGE_REGISTRY_USERNAME: ${{ secrets.image-registry-username }}
      IMAGE_REGISTRY_PASSWORD: ${{ secrets.image-registry-password }}
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f
      - name: Log in to the Container registry
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9
        with:
          registry: ${{ env.IMAGE_REGISTRY }}
          username: ${{ env.IMAGE_REGISTRY_USERNAME }}
          password: ${{ env.IMAGE_REGISTRY_PASSWORD}}
      - name: Push Docker Image
        if: ${{ success() }}
        uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8
        id: push
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            ${{ env.IMAGE_REGISTRY }}/${{ inputs.image-name }}:latest
            ${{ env.IMAGE_REGISTRY }}/${{ inputs.image-name }}:${{ inputs.full-tag }}
            ${{ env.IMAGE_REGISTRY }}/${{ inputs.image-name }}:${{ inputs.short-tag }}
          platforms: linux/amd64,linux/arm64
          provenance: false
          sbom: false
      - name: Generate artifact attestation
        if: ${{ inputs.create-attestation }}
        uses: actions/attest-build-provenance@v3
        with:
          subject-name: ${{ env.IMAGE_REGISTRY }}/${{ inputs.image-name}}
          subject-digest: ${{ steps.push.outputs.digest }}
          push-to-registry: true
          github-token: ${{ secrets.github-token }}
